[Desktop Entry]
Version=1.0
Type=Application
Name=OpenAmp
GenericName=Guitar Amp Simulator
Comment=Guitar Amplifier and Effects Processor
Exec=openamp
Icon=openamp
Terminal=false
Categories=AudioVideo;Audio;Music;
Keywords=guitar;amp;effects;audio;dsp;
